/* Simple jQuery Equal Heights @version 1.5.1. Copyright (c) 2013 Matt Banks. Dual licensed under the MIT and GPL licenses. */
!function(a){a.fn.equalHeights=function(){var b=0,c=a(this);return c.each(function(){var c=a(this).innerHeight();c>b&&(b=c)}),c.css("height",b)},a("[data-equal]").each(function(){var b=a(this),c=b.data("equal");b.find(c).equalHeights()})}(jQuery);

/* Run function after window resize */
var afterResize=(function(){var t={};return function(callback,ms,uniqueId){if(!uniqueId){uniqueId="Don't call this twice without a uniqueId";}if(t[uniqueId]){clearTimeout(t[uniqueId]);}t[uniqueId]=setTimeout(callback,ms);};})();

window.theme = window.theme || {};

var fiveItemsToAdd = [];

theme.cacheSelectors = function () {
  theme.cache = {
    // General
    $w: $(window),
    $body: $('body'),

    // Mobile Nav
    $mobileNavTrigger: $('#MobileNavTrigger'),
    $mobileNav: $('#MobileNav'),
    $mobileSublistTrigger: $('.mobile-nav__sublist-trigger'),

    // Equal height elements
    $productGridImages: $('.grid-link__image--product'),
    $featuredGridImages: $('.grid-link__image--collection'),

    // Product page
    $productImage: $('#ProductPhotoImg'),
    $productImageGallery: $('.gallery__item'),

    // Cart Page
    cartNoteAdd: '.cart__note-add',
    cartNote: '.cart__note',

    //Navigation
    $hasDropdownItem: $('.site-nav--has-dropdown')
  }
};

timber.cacheVariables = function () {
  timber.vars = {
    isTouch: timber.cache.$html.hasClass('supports-touch')
  }
};

theme.init = function () {
  theme.cacheSelectors();
  timber.cacheVariables();
  theme.mobileNav();
  theme.equalHeights();
  theme.cartPage();
  theme.toggleMenu();

  {% if settings.product_image_zoom_type == 'lightbox' %}
    theme.productImageGallery();
  {% endif %}
};

theme.mobileNav = function () {
  theme.cache.$mobileNavTrigger.on('click', function() {
    theme.cache.$mobileNav.slideToggle(220);
  });

  theme.cache.$mobileSublistTrigger.on('click', function(evt) {
    var $el = $(this);

    // Enable commented out if statement to allow direct clicking on trigger link
    // if (!$el.hasClass('is-active')) {
      evt.preventDefault();
      $el.toggleClass('is-active').next('.mobile-nav__sublist').slideToggle(200);
    // }
  });
};

theme.equalHeights = function () {
  theme.cache.$w.on('load', resizeElements());

  theme.cache.$w.on('resize',
    afterResize(function() {
      resizeElements();
    }, 250, 'equal-heights')
  );

  function resizeElements() {
    theme.cache.$productGridImages.css('height', 'auto').equalHeights();
    theme.cache.$featuredGridImages.css('height', 'auto').equalHeights();
  }
};

theme.productImageGallery = function() {

  if (!theme.cache.$productImageGallery.length) {
    return;
  };

  theme.cache.$productImageGallery.magnificPopup({
    type: 'image',
    mainClass: 'mfp-fade',
    closeOnBgClick: true,
    closeBtnInside: false,
    closeOnContentClick: true,
    tClose: '{{ "products.zoom.close" | t }}',
    removalDelay: 500,
    callbacks: {
      open: function(){
        $('html').css('overflow-y','hidden');
      },
      close: function(){
        $('html').css('overflow-y','');
      }
    },
    gallery: {
      enabled: true,
      navigateByImgClick: false,
      arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"><span class="mfp-chevron mfp-chevron-%dir%"></span></button>',
      tPrev: '{{ "products.zoom.prev" | t }}',
      tNext: '{{ "products.zoom.next" | t }}'
    }
  });

  theme.cache.$productImage.bind('click', function() {
    var imageId = $(this).attr('data-image-id');
    theme.cache.$productImageGallery.filter('[data-image-id="' + imageId + '"]').trigger('click');
  });
};

theme.cartPage = function () {
  {% unless settings.cart_notes_enable %}
    return;
  {% endunless %}

  theme.cache.$body.on('click', theme.cache.cartNoteAdd, function () {
    $(this).addClass('is-hidden');
    $(theme.cache.cartNote).addClass('is-active');
    ajaxifyShopify.sizeDrawer();
  });
};

theme.toggleMenu = function () {
  var $doc = $(document);
  var showDropdownClass = 'show-dropdown';

  // Open sub navs on small screens
  theme.cache.$hasDropdownItem.on('click', function(evt) {
    var $el = $(this);

    if (!$el.hasClass(showDropdownClass) && timber.vars.isTouch) {
      evt.preventDefault();
      $el.addClass(showDropdownClass);
      $doc.on('click', handleClickOutsideDropdown);
    }

    function handleClickOutsideDropdown (evt) {
      var $target = $(evt.target);

      if (!$target.is($el) && !$.contains($el[0], $target[0])) {
        $el.removeClass(showDropdownClass);
        $doc.off('click', handleClickOutsideDropdown)
      }
    }
  })
};

theme.doubleCart = function() {
  var currentCart = jQuery.getJSON('/cart.js', function(cart) {
    var quantities = [];
    var totalToUpdate = 0;
    jQuery.each(cart.items, function(index, cartItem) {
      quantities.push(cartItem.quantity * 2);
      totalToUpdate += cartItem.quantity * 2;
    });
    if (quantities.length) {
      //var response = jQuery.post('/cart/update.js', {updates: quantities});

      $.ajax({
        type: 'POST',
        url: '/cart/update.js',
        data: {updates: quantities},
        dataType: 'json',

        // If the AJAX call is a success update the cart count(s) to the new total. There are two instances of .cart-count,
        // one for mobile and one for desktop, both need to be updated.
        // If the AJAX call is a success it means that the new cart count is equal to totalToUpdate. If one item can't be added
        // we'll get an 422 error and none of the items will be added.
        success: function() { $('.cart-count').each(function() { $(this).html( totalToUpdate ); }); },

        // Else show an error message.
        error: function() { alert( "Couldn't double items!" ); }
      });
    }
  });
};

theme.validateReason = function() {
  var reason = document.forms["ruairisForm"]["properties[Why should I sell you these gloves?]"].value;
  if (reason != "I'm cool") {
    // Check that the message hasn't been appended before, prevents the message being appended several times.
    if ( $( ".uncool-message" ).length == 0 ) {
      $( ".why-sell" ).append( "<p class=\"uncool-message\">{{ settings.uncool_message }}</p>" );
    }

    // A few jQuery changes.
    $(".why-sell").addClass('error-box');

    return false;
  }
};

theme.addFiveRandomItems = function() {
  for (var i = 0; i < 5; i++) {
    fiveItemsToAdd.push( {
      // Add the first variant of a random product
      id: firstFiftyProducts[Math.floor(Math.random() * firstFiftyProducts.length)].variants[0].id,
      quantity: 1
    });
  }

  if (fiveItemsToAdd.length) {
    theme.addFiveItemsToCart();
  }
};

theme.addFiveItemsToCart = function() {
  if (fiveItemsToAdd.length) {
    var item = fiveItemsToAdd.pop();
    $.ajax({
      url: '/cart/add',
      dataType: 'json',
      type: 'post',
      data: item,
      success: theme.addFiveItemsToCart,

      // If the AJAX call fails alert the user and continue.
      error: function() {
        alert("Unable to add an item with ID: " + item.id + " to the cart!");
        theme.addFiveItemsToCart();
      }
    });
  }
  else {
    alert("Five random items added to the cart :\)");
    window.location.href = '/cart';
  }
};

// Initialize theme's JS on docready
$(theme.init)
